        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex flex-column h-100">
              <div class=" d-flex">
                <div class="favorite">
<%= form_with model: @user, url: set_alarm_profile_path, method: :post, local: true do |f| %>
  <h5 class="mb-2">LINE通知</h5>
  <h8 class="mb-4 text-danger">※LINE通知を受け取るには、お手数ですが以下のStep1, 2を実施の上、通知時刻を設定してください。</h8>
    <div class="container mx-auto">
      <span class="mb-0">Step1 : </span>
      <span class="lg:text-xl text-gray-900 my-1 md:mx-0">LINEアカウントでログインする。</span>
      <% if @user.provider == "line" %>
        <button class="btn btn-dark" disabled>ログイン済み</button>
      <% else %>
        <%= link_to "一度ログアウトする", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-dark" %>
      <% end %>
    </div>
    <div class="container mx-auto">
      <div class="flex justify-center items-center md:flex-row flex-col">
        <span class="text-2xl lg:text-3xl font-medium title-font md:pr-4 md:pl-6 text-gray-900">Step2 : </span>
        <span class="lg:text-xl text-gray-900 my-1 md:mx-0">公式アカウントを友達追加する。</span>
        <a href="https://lin.ee/BJ1vl6W"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :alarm_time, 'アラーム時刻', class: 'control-label' %>
      <%= f.time_select :alarm_time, { minute_step: 60, discard_minute: true, default: @user.alarm_time || Time.now, ignore_date: true }, class: "border rounded px-3 py-2" %>
      <span class="ml-2">: 00</span>
    </div>
    <div class="form-group">
      <%= f.submit 'アラームを設定', class: 'btn btn-primary' %>
      <% if @user.alarm_time %>
        <%= link_to '通知を解除する', remove_alarm_profile_path, data: {turbo_method: :delete },class: "btn btn-danger" %>
      <% end %>
    </div>
<% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
