<div class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-12">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex">
              <div class="profile">
                <h5 class="mb-2">プロフィール</h5>
                <p class="mb-0"><%= current_user.name %></p>
                <p class="mb-0"><%= current_user.email %></p>
              </div>
            </div>
            <%= link_to 'アカウント設定', edit_profile_path, class: "btn custom-btn mt-2 mt-lg-3" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex flex-column h-100">
              <div class=" d-flex">
                <div class="favorite">
                  <h5 class="mb-2">お気に入り問題</h5>
                  <p class="mb-0">
                    <% if @bookmark_lessons.present? %>
                      <% @bookmark_lessons&.each do |lesson| %>
                        <%= link_to lesson.title, category_lessons_path(lesson.course.category_id, course_id: lesson.course.id) %>
                      <% end %>
                    <% else %>
                      お気に入り問題はありません
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex flex-column h-100">
              <div class=" d-flex">
                <div class="favorite">
                  <h5 class="mb-2">LINE通知</h5>
<%= render 'profiles/alarm', user: @user %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
