<tr>
  <td>
    <%= lesson.id %>
  </td>
  <td>
    <%= link_to lesson.title, admin_lesson_path(lesson) %>
  </td>
  <td>
    <%= lesson.content %>
  </td>
  <td>
    <%= link_to "Show", admin_lesson_path(lesson), class: 'btn btn-info' %>
    <%= link_to "Edit", edit_admin_lesson_path(lesson), class: 'btn btn-success' %>
    <%= link_to "Delete", admin_lesson_path(lesson), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %> 
  </td> 
</tr>
