<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>Show Lesson</h1>
      <div class="text-right mb-3">
        <%= link_to "Index", admin_lessons_path, class: 'btn btn-info' %>
        <%= link_to "Edit", edit_admin_lesson_path(@lesson), class: 'btn btn-success' %>
      </div>
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row">ID</th>
          <td><%= @lesson.id %></td>
        </tr>
        <tr>
          <th scope="row">名前</th>
          <td><%= @lesson.title %></td>
        </tr>
        <tr>
          <th scope="row">本文</th>
          <td><%= markdown(@lesson.content) %></td>
        </tr>
        <tr>
          <th scope="row">ヒント</th>
          <td><%= markdown(@lesson.hints) %></td>
        </tr>
        <tr>
          <th scope="row">準備コード</th>
          <td><%= markdown(@lesson.starter_code) %></td>
        </tr>
        <tr>
          <th scope="row">公開</th>
          <td><%= @lesson.published %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
