<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>Show Answer</h1>
      <div class="text-right mb-3">
        <%= link_to "Index", admin_lesson_answers_path(@lesson), class: 'btn btn-info' %>
        <%= link_to "Edit", edit_admin_answer_path(@answer), class: 'btn btn-success' %>  
      </div>
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row">本文</th>
          <td><%= markdown(@answer.content) %></td>
        </tr>
        <tr>
          <th scope="row">解説</th>
          <%
=begin%>
 <td><%= markdown(@answer.explanation) %></td> 
<%
=end%>
        </tr>
        <tr>
          <th scope="row">公開</th>
          <td><%= @answer.answer %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
