<div class="col-lg-6 col-12 mt-3 mx-auto">
  <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
    <div class="d-flex">
      <div class="custom-block-topics-listing-info d-flex">
        <div>
          <div class="lesson">
            <h5 class="mb-2"><%= lesson.title %></h5>
            <p class="mb-0"><%= markdown(lesson.content) %></p>
            <%= form.hidden_field "answers[#{lesson.id}]", value: "default" %>
            <% lesson.answers.each do |answer| %>
              <div class="form-check">
                <%= form.radio_button "answers[#{lesson.id}]", answer.id, class: "form-check-input" %>
                <%= form.label "answers[#{lesson.id}]", markdown(answer.content), value: answer.id, class: "form-check-label text-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
