<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-3 ml-1 mx-auto">
      <div class="custom-block-topics-listing bg-white shadow-lg mb-5">
        <div class="d-flex">
          <div class="custom-block-topics-listing-info d-flex">
            <div class="lesson">
              <div class="d-flex">
                <div>
                  <h5 class="mb-2"><%= lesson.title %></h5>
                  <p class="mb-0"><%= markdown(lesson.content) %></p>
                  <p class="d-none"><%= text_area_tag 'lesson_id', lesson.id, id: "lesson-id", class: 'txt-editor cm-output', readonly: true %></p>
                </div>
                <% if current_user %>
                  <%= render 'bookmark_button', lesson: lesson %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-block-topics-listing bg-white shadow-lg mb-5">
        <input id="block-01" type="checkbox" class="toggle">
        <label class="Label" for="block-01">ヒント</label>
        <div class="content">
          <p class="mb-0"><%= markdown(lesson.hints) %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mt-2 m-auto">
      <h6 class="code-title">Editor</h6>
      <%= text_area_tag 'starter_code', lesson.starter_code, id: "txt-editor" %>
      <div class="d-flex align-items-center my-1">
        <h6 class="code-title flex-grow-1">Output</h6>
        <%= button_to "準備中", "#", method: :post, disabled: true, class: "btn btn-default bg-education", id: "run" %>
        <button id="modalOpen" class="btn btn-default bg-music">解答例</button>
        <%= render "answer_modal", lesson: lesson,title: '解答例' %>
        <button id="judgeModalOpen" class="btn btn-default bg-finance">答え合わせ</button>
        <%= render "judge_modal", lesson: lesson, category: @category,title: '答え合わせ' %>
      </div>
    <%= text_area_tag 'output', nil, class: 'txt-editor cm-output', id: "output", placeholder: "出力", readonly: true %>
    </div>
  </div>
</div>
