<%= form_with model: [:admin, @category], local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :id %>
    <%= f.text_field :id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <div data-controller="codemirror" data-codemirror-doc-value="<%= f.object.content %>">
      <div data-codemirror-target="editor"></div>
      <%= f.hidden_field :content, class: 'form-control', data: {codemirror_target: "input"}, rows: 10 %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
