<tr>
  <td>
    <%= course.id %>
  </td>
  <td>
    <%= link_to course.title, admin_course_path(course) %>
  </td>
  <td>
    <%= link_to "Show", admin_course_path(course), class: 'btn btn-info' %>
    <%= link_to "Edit", edit_admin_course_path(course), class: 'btn btn-success' %>
    <%= link_to "Delete", admin_course_path(course), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %> 
  </td>
</tr>
