<!DOCTYPE html>
<html>
  <head>
    <title>RubyAlgo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RMKX1MT7F9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RMKX1MT7F9');
    </script>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <div class="footerFixed">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>
      <div class="main-body">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %> 
      <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/ruby/ruby.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/ruby-head-wasm-wasi@0.3.0-2022-09-29-a/dist/browser.umd.js"></script>
      <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
      <div id="flashes" class="position-fixed top-0 end-0" style="margin: 0.75rem"></div>
    </div>
  </body>
</html>
